/* trang chu */
.middle__button--unselect{
    background-color: transparent !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: 0 !important;
}

.middle__btn-links{
    margin: 0 10rem;
    padding: 0;
}

.middle__button{
    margin-left: 10rem;
}

.top-nav__list li {
    font-size: 1.2rem;
}

.hero {
    background-image: url("../img/hero.jpg");
    height: 477px;
    position: relative;
}

.herro_title-2{
    font-weight: 600;
}

.hero__body-text{
    left: 101px;
    bottom: 25px;
    position: absolute;
    max-width: 295px;
}

.hero__btn {
    margin-top: 1rem;
}

.hero__body-chevron-btn{
    width: 100%;
    padding: 2.7rem;
} 

.hero__body-btn {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0.2rem;
    background: rgba(255, 255, 255, 0.9);
    margin-top: calc(25% - 3rem);
    color: #939393;
}

/* main-product */
.padding-0{
    padding-right:0 !important;
    padding-left:0  !important;
    margin-left: 0;
    margin-right: 0;
}

.main-product{
    background-color: #f1f1f1;

}
.main-product__content{
    padding: 27px 0;
}
.product__in-main{
    background-color: var(--white-color);
    width: 464px;
    height: 332px;
}

.main-product__content-left{
    padding: 0 !important;
}

.product__gender-btn{
    margin: 0 !important;
}

.product__women-img{
    width: 22rem;
    height: 27.5rem;
}
.product__gender-btn-link{
    width: 22rem;
    height: 5.6rem; 
    font-size: 1.2rem !important;
    padding-top: 2rem !important;
}

.product__women {
    
}
.product__men {
    
}
.product__to-buy {
    
}
.product__to-buy {
    
}

.product__gender-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.product__gender-item {
    text-align: center;
    width: 100%;
    height: 5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.product__gender-list-link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.product__gender-list{
    margin-top: 3rem;
}

.product__gender-item--selected{
    background-color: var(--primary-color);
}

.product__gender-item--selected a{
   color: var(--white-color);
}

table {
    border-collapse: collapse;
  }
table td {
    border: 5px solid rgba(0, 0, 0, 0.09); 
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}

.product__buy-icon-item {
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    padding: 0.2rem;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    color: #666;
}

.product__buy-footer-star{
    font-size: 0.8rem;
}