:root {
    --primary-color: #f6422e;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --hearder-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /*Trick de fontsize 62,5% thì 1rem  sẽ là 10px muốn để
    font-size = 12 thì --> 1.2rem*/
    font-size: 62.5%;
    line-height: 2.7rem;
    /*font sans-serif là chủng font chữ k chân, sẽ hiển thị
    trong khi đợi font Roboto được tải về*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* //responsive */
.grid{
    width: 1200px;
    max-width: 100%;/*giảm kích thước của màn hình về 1200*/
    margin: 0 auto;/*Căn giữa khối khi nằm trong khối khác*/
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;/*những thẻ được chứa cùng nằm trên 1 hàng ngang
    nếu quá width của row sẽ nhảy xuống hàng*/
    margin-left: -12px;
    margin-right: -12px;
}

/* test grid  */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* ================Animation==================== */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to{
        transform: scale(var(--growth-to));
    }
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    /* border-radius: 5px; */
    animation: growth linear 0.1s;
}

/* //button style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    color: var(--text-color);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable {
    color: var(--white-color);
    cursor: default;
    background-color: #f3836c;
    outline: none;
} 

.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
